body{
    font-family: Arial, Helvetica, sans-serif;
}

body .div-header{
    display: table;
    background-color: #2b2b2b;
    width: 100%;
    height: 36px;
    align-items: center;
}

body .div-header .div-title{
    display: table-cell;
    width: 27%;
    height: 36px;
    vertical-align: middle;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    padding: 18px 0px 18px 12px;
}
body .div-header .menu-order{
    display: table-cell;
    width: 73%;
    height: 36px;
    vertical-align: middle;
    text-align: left;
    padding: 18px 28px 18px 12px;
    font-weight: bold;
    font-size: 17px;
}

select{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 2px 8px;
    margin: 0px;
    font-size: 16px;
    border-radius: 14px;
}
.filter-links a{
    font-size: 16px;
    color:#db12ff;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}
.filter-links a:hover{
    font-size: 16px;
    color:#02eeff;
    font-weight: bold;
    text-decoration: underline;
}

.new-task{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    /*border-collapse:collapse;*/
    margin-top: 4p  x;
    padding: 12px 0px;
    /*background-color: #07bdb4;*/
    background-color: #6732a0;
    border-bottom: #35ebf8 6px solid;
}
.new-task td{
    font-size: 20px;
}
.new-task input{
    display: inline-block;
    height: 26px;
    border-radius: 10px;
}
.new-task form span{
    font-size: 16px;
}
.select-prior{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 9%;
    text-align: left;
    padding: 0x;
    margin: 0px;
    border-radius: 12px;
}
.select-prior option{
    text-align: left;
}

.new-task .input-title{
    font-size: 14px;
    font-weight: bold;
    width: 18%;
}
.new-task .input-descr{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    width: 20%;
    border-collapse: collapse;
}
.new-task .input-date{
    font-size: 16px;
    font-weight: normal;
    width: auto;
    margin-right: 20px;
}


.form-task-edit span{
    font-size: 18px;
    font-weight: bold;
}

.form-task-edit input{
    width: 50%;
    height: 28px;
    font-size: 18px;
}
.form-task-edit input[type="date"]{
    
    width: 160px;
    text-wrap: nowrap;
}
.form-task-edit .input-prior-ed{
    font-size: 18px;
    font-weight: bold;
    width: 220px;
}
.form-task-edit textarea{
    width: 50%;
    height: 180px;
    font-size: 18px;
}
.form-task-edit select{
    width: 220px;
    height: 28px;
    font-size: 18px;
}
.tasks-table{
    width: 100%;
    border-collapse:collapse;
    margin: 0px;
    table-layout: fixed;
}



.tasks-table thead .cols-names{
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
}
.tasks-table td{
    border: none;
    box-sizing: border-box;
}

.tasks-table td:nth-child(1) {
  width: 1%;
  white-space: wrap;
  text-align: center;
}

.tasks-table th{
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.tasks-table .h-col-task{
    /*text-align: right;*/
    display: flex;
    font-weight: bold;
    vertical-align: middle;
    width: 100%;

}

.note-priority{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    background-color: #000000;
    color: #828282;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    padding: 16px 0px;
}

.note-priority2{
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    background-color: #ffffff;
    color: #828282;
    width: 100%;
    padding:0px;
}

.todo{
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 24px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    vertical-align: middle;
    height: 100%;
    padding: 16px 0px;
}

.tasks-table .h-col-actions{
    text-align: center;
    padding-right: 0px;
}
#form-delete{
    display: block;
}
.tasks-table .h-col-delete, #form-delete, .col-delete{
    text-align: center;
}

.tasks-table tbody tr:nth-child(odd){
    background-color: rgb(212, 212, 212);  
}
.tasks-table tbody tr:nth-child(even){
    background-color: rgb(184, 184, 184); 
}
.tasks-table tbody .col-id{
    /*width: 1%;*/
    white-space: nowrap;    
    font-size: 9px;
    text-align: center;
}
.tasks-table tbody .col-title{
    font-size: 16px;
    text-align: right;
    white-space: nwrap;
    padding: 0px 10px 0px 20px;
    /*width: 20%;*/
}
.tasks-table tbody .col-priority{
    /*width: 1%;*/
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.tasks-table tbody .col-status{
    /*width: 1%;*/
    white-space: nowrap;
    text-align: center;
}

.tasks-table tbody .col-description{
    font-size: 12px;
    font-style: italic;
    white-space: wrap;
    padding: 0px 20px 0px 40px;
    /*width: 16%;*/
   
}

.tasks-table tbody .col-due-date{
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 0px 10px;
    text-align: center;
}

.tasks-table tbody .imp-due-date{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 14px;
    
}


.tasks-table tbody .col-edit{
    /*width: 1%;*/
    white-space: nowrap;
    text-align: center;
}
.tasks-table tbody .link-edit{
    display: inline-block;
    font-size: 14px;
    text-align: center;
}
.tasks-table tbody .link-edit img{
    display: block;
    width: 26px;
    height: auto;
}

.tasks-table tbody .col-actions{
    text-align: left;
    /*width: 10%;*/
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.tasks-table tbody .actions{
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    gap: 4px;
    /*width: 100%;*/

}
.tasks-table tbody tr:hover{
    background-color: #0affe7;
}

select.status-pending{
    color: #ed0000;
}
select.status-done{
    color: #171717;
    background-color: #2bff00;
}
select.status-in-progress{
    color: #00a0da;
}
select.status-paused{
    color: #e86800;
}
select.status-canceled{
    color: #b1b1b1;
}

.col-actions button{
    cursor: pointer;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    overflow: hidden;
    border: 1px solid #bdbdbd;
    
}

.col-actions button:hover{
    font-weight: bold;
    border: 3px solid #ffffff;
    
}

.btn_done img, .btn_cancel img, .btn_pause img, .btn_resume img, .btn_start img{
    display: block;
    width: 100%;
    height: 100%;
 
}

.classic-btn{
    width: auto;
    height: 36px;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    padding: 4px 18px 4px 18px;
    color: #e4e4e4;
    background-color: #787878;
    font-weight: bold;
    border: 3px solid #b3b3b3;
}
.classic-btn:hover{
    color: #ebebeb;
    background-color: #a4a4a4;
    border: 3px solid #909090;
}